.cursive-font{
  font-family: 'Pacifico', cursive;
}

.main-title{
  font-weight: normal;
}

.card {
  margin: 3rem 0;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields-comments {
  width: 100% !important;
}